.container{
    background-color: black;
    width: 100%;
    height: 100vh;   
    overflow: hidden; 
}

.orbit{
    stroke: white;
    fill: none;
    stroke-width: 1px;
    stroke-dasharray: 5,5;
}

.svg{
    position: relative;
    top : 32px;
}

.route{
    stroke: yellowgreen;
    fill: none;
    stroke-width: 1px;
}